<div id="home">
    <section class="intro-section">
        <div class="container-fluid intro-area">
            <div class="row intro-row">
                <div class="col-5 offset-1 pl-0">
                  <div class="about-body container-fluid pl-0 pb-5 d-flex flex-column align-items-end justify-content-end">
                    <h1 class="pb-1">Marlo M. Carreon</h1>
                    <h2 class="pb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, at! </h2>
                    <p class="mb-5 pb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore corporis, ducimus consequuntur quam tenetur corrupti commodi. Eligendi possimus commodi optio praesentium, illo magni consectetur modi dignissimos doloribus earum nemo officiis.Eos cupiditate debitis et quasi omnis qui, nostrum veritatis iste, veniam quo nam atque nesciunt nisi ut quaerat odio harum asperiores accusantium, cumque rerum necessitatibus enim corporis. Eum, nesciunt accusamus.</p>
                  </div>
                </div>
                <div class="col-5 pr-0">
                  <div class="contact-body container-fluid pl-0 pb-5 d-flex align-items-end justify-content-end flex-column">
                    <h2 class="pb-5">Contact Me</h2>
                    <div class="mt-2">
                      marloadriancarreon@gmail.com
                    </div>
                    <div class="mt-0"><a href="https://github.com/mcarreon">GitHub</a></div>
                    <div class="mt-0 mb-5 pb-5"><a href="www.linkedin.com/in/carryon">LinkedIn</a></div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container-fluid content-area">
            <div class="row content-row">
                <div class="col-10 offset-1 justify-content-between d-flex">
                  <div class="port-1">test</div>
                  <div class="port-2">test</div>
                  <div class="port-3">test</div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>