<div id="message-page">
    <section class="message-section container-fluid d-flex justify-content-center flex-column">
        <div class="row">
            <div class="col-8 offset-1 pl-0 pb-4">
                <img src="/icons/outline-message-24px.svg" alt="mail!" width="150">
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-2 offset-1 pl-2">
                <label for="message-name">Name</label>
                <input class="form-control" type="text" id="message-name">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-4 offset-1 pl-2 pb-5">
                <label for="message-body">Message</label>
                <textarea class="form-control pb-5" type="text" id="message-body"></textarea>
                <div class="mt-3">
                    <a href="">Click me to post your message.</a>
                </div>
                <div class="mt-2">
                    <a href="/">Click me to go back home.</a>
                </div>
            </div>
        </div>

    </section>
</div>