@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
  font-family: 'Libre Baskerville', serif;
}

.intro-section, #message-page {
  background-color: #e2fcea;
}

.content-section {
  background-color: #fcfcfc;
}

.intro-area, .content-area, .message-section {
  width: 80%;
}

.intro-row, .content-area, .about-body, .contact-body, #message-page, .message-section {
  height: 100vh;
  max-height: 100vh;
}

label {
  font-size: 1.5em;
  margin-bottom: 0;
}

.list-group-item {
  line-height: 2.5;
}

a {
  color: #212529;
}

a:hover {
  color: rgb(255, 91, 255);
  text-decoration: none;
}

h1 {
  font-size: 4.5em;
}

tbody > th {
  font-size: .5em;
}

.project-data {
  font-size: .8em;
}

.w-15 {
  width: 15%;
}

.w-12 {
  width: 12%;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 5%;
}

.project-desc-col {
  max-width: 626px;
}

.project-desc {
    max-width: 626px;
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.project-area-desc {
  font-size: .8em;
}

.api-row {
  font-size: .8em;
}